/**
 * CSS styles
 * common styles for Main & Admin part
 *
 */

/* -------------------------- global ---------------------------------------------------*/

:root {
	--danger: #EE3131;
	--text-color: #282C35;
	--text-muted-color: rgba(0,0,0,0.56);
	--link-hover-color: #FF0C12;
}

html, body {
	font-family: Roboto, Arial, sans-serif;
	color: var(--text-color);
	height: 100%;
}

.global-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100%;
	width: 100%;
	position: relative;
}

.global-waiter-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	cursor: wait;
}

.global-animate-layer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9998;
	cursor: wait;
}

/* -------------------------- /global --------------------------------------------------*/

a {
	text-decoration: none;
}

.test-warning {
	color: var(--danger);
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.loader-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}
.loader-wrapper .loader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--text-muted-color);
}
.loader-wrapper .loader p {
	color: var(--text-muted-color);
	text-align: center;
}
.loader-wrapper .loader .error {
	color: var(--danger);
}

.img-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}
.img-wrapper img {
	max-width: 95%;
	object-fit: contain;
	object-position: 50% 50%;
}

.user-photo {
	width: 40px;
	height: 40px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: solid 2px var(--text-color);
}

@media screen and (max-width: 576px) {
	.container {
		padding: 0;
	}
}
